.form {
  overflow: hidden;
  background-color: var(--bg-secondary);
  border-radius: 5px;
  box-shadow: 0 34px 30px hsl(0deg 0% 0% / 10%);
}

.label {
  position: relative;
  display: grid;
  align-items: center;
}

.icon {
  display: block;
  grid-area: 1 / 1 / 2 / -1;
  inline-size: 24px;
  block-size: 24px;
  margin-inline-start: 24px;
  border: 1px solid var(--muted);
  border-radius: 50%;
}

.textField {
  grid-area: 1 / 1 / -1 / -1;
  inline-size: 100%;
  padding-block: 24px 22px;
  padding-inline: 72px 24px;
  font-size: 18px;
  color: var(--text);
  background-color: transparent;
  border: 0;

  &::placeholder {
    color: var(--text-secondary);
  }
}
