.item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 24px;
  align-items: center;
  min-block-size: 66px;
  padding-block: 15px;
  padding-inline: 24px;
  font-size: 18px;
  background-color: var(--bg-secondary);

  &:not(:last-of-type) {
    border-block-end: 1px solid var(--muted);
  }
}

.completed {
  color: var(--text-secondary);
  text-decoration: line-through;
}

.checkboxWrapper {
  position: relative;
  inline-size: 24px;
  block-size: 24px;
}

.checkbox {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  appearance: none;
  cursor: pointer;
  background-image: var(--gradient);
  border-radius: 50%;
}

.checkboxCover {
  position: absolute;
  inset: 1px;
  display: grid;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: var(--bg-secondary);
  border-radius: 50%;
  transition: background-color 120ms;
}

.check {
  color: var(--bg-secondary);
  translate: 0 1px;
  transition: color 120ms;
}

.checkboxWrapper:hover .checkboxCover {
  inset: 2px;
}

.task {
  translate: 0 2px;
}

.item:has(:checked) {
  .checkboxCover {
    background-color: transparent;
  }

  .task {
    color: var(--text-secondary);
    text-decoration: line-through;
  }
}

.delete {
  inline-size: 34px;
  block-size: 34px;
  padding: 8px;
  margin: -5px;
  background-color: transparent;
  border-radius: 5px;
  transition: background-color 0.15s;

  &:hover {
    background-color: var(--bg-hover);
  }
}
