.toolbar {
  display: grid;
  grid-template: auto auto / 1fr 1fr;
  gap: 8px;
  align-items: center;
  padding-block: 10px;
  padding-inline: 24px;
  font-size: 14px;
  color: var(--text-secondary);
  border-block-start: 1px solid var(--muted);
}

.radioGroup {
  display: flex;
  grid-column: 1 / -1;
  gap: 2px;
  justify-content: center;
  order: 1;
}

.radioLabel {
  padding-block: 9px 7px;
  padding-inline: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: color 150ms;

  &:hover {
    color: var(--text);
  }

  &:has(:focus-visible) {
    outline: auto;
  }

  &:has(:checked) {
    color: var(--accent);
  }
}

.radio {
  appearance: none;
}

.clear {
  justify-self: end;
  padding-block: 9px 7px;
  padding-inline: 8px;
  margin-inline-end: -8px;
  border-radius: 5px;
  transition:
    background-color 150ms,
    color 150ms;

  &:hover {
    color: var(--text);
    background-color: var(--bg-hover);
  }
}

@media (--sm-up) {
  .toolbar {
    grid-template: auto / 1fr auto 1fr;
  }

  .radioGroup {
    grid-column: initial;
    order: initial;
  }
}
